<div class="jumbotron">

<h1  class="display-4" >Notes-App Nodejs and MongoDB</h1>
    <p class="lead"> Lorem ipsum dolor sit amet
         consectetur adipisicing elit. Officia doloribus
          possimus explicabo quibusdam, praesentium maxime, 
          similique voluptas consequuntur perferendis autem 
          quidem modi ab temporibus magni. Deserunt adipisci 
          architecto voluptates exercitationem?</p>
    <hr class="my-4">
    <p > Lorem ipsum dolor sit amet
         consectetur adipisicing elit. Officia doloribus
          possimus explicabo quibusdam?</p>
    <a href="http://faztweb.com" class="btn btn-primary btn-lg">Fazt Web</a>
</div>
